body{
	font-family: "Nunito Sans", sans-serif;
  background-color: #F4F6F6;
  height: 100%;
}

#navbar {
	text-align: center;
	margin-left: -50px;
	margin-top: 10px;

}

.nav-item {
	display: inline-block;
	text-align: center;
	padding: 25px;
	opacity: 0.6;
	font-size: 2.0vw;
	font-weight: 400;
	transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	font-family: 'Pontano Sans', sans-serif;


}


.nav-item:hover {
	opacity: 1;
	cursor: pointer;
}

#name {
		margin-top: 4%;
		font-weight: 200;
	margin-left: 51%;
	font-size:4vw;
	color: #2471A3;
	font-family: 'Pontano Sans', sans-serif;

}
#pron {
	margin-top: 1%;
	margin-left: 58%;
	color:  #2471A3;


}


#noun {
	margin-top: 1%;
	margin-bottom: 2.4%;
	margin-left: 60.7%;
	color: #2471A3;



}

#homeimg {
	width: 30%;
	position: absolute;
	margin: 3% 5%;

}

.intro {
	margin: 1% 5% 1% 38%;
	line-height: 180%;
	font-weight: 200;
	font-size: 1.4vw;
	width: 60%;
	opacity: 0.68;

}

#contact {
	margin-left: 7%;
	opacity: 1;
}

#email {
	font-size: 1.6vw;
}
a {
	text-decoration: none;
	color: #616161;
	
}

ul {
	list-style-type: none;

}

.fa {
	margin: 1% -50% 0% 55%;

}


@keyframes fadein{
   from{opacity:0;}
   to{opacity:1;}
}